.error404 {
  background-color: rgb(0, 0, 0);
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  gap: 12px;
}

.logos {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.logos img {
  width: 180px;
  height: auto;
}


.title {
  font-size: 3rem;
  margin: 0;
}

.text {
  font-size: 1.5rem;
  margin: 10px 0;
  text-align: center;
  max-width: 42rem;
  padding: 0 1rem;
}

.btn {
  background-color: #1880a0;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 6px;
  margin-top: 20px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.btn:hover {
    transform: translateY(-3px);
}


.logo {
  position: absolute;
  width: 120px;
  height: auto;
  pointer-events: none;
  z-index: 50;
}
